 body{padding: 0;
  margin: 0;
 font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/

/*Start_Header_Section*/
.header_section{
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F4FBF6;
}
.custom_container{
max-width: 1300px;
  width: 100%;
  margin: auto;
}
.manu{
display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_area{
width: 50px;
}
.logo_area img{

}
.nav_manu{

}
.nav_manu ul{
    display: flex;
}
.nav_manu ul li{
    padding-right: 40px;
}
.nav_manu ul li a{
    color: #707070;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav_manu ul li a:hover{
color:#fa1973;
transition: .5s;
}

/*End_Header_Section*/

/*banner_section*/
.banner_section{
}
.custom_container{

}
.banner_full{
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}
.banner_left{
display: flex;
}
.banner_contant{
max-width: 560px;
    margin: auto;
    width: 100%;
}
.banner_contant h1{
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}
.banner_contant h2{
font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
}
.button_area{
padding-top: 20px;
}
.banner_button{
border-radius: 10px;
    background: var(--Linear, linear-gradient(180deg, #0e8f1b -0.01%, #13d71e 99.99%));
    display: inline-block;
    padding: 15px 40px;
    margin-right: 10px;
}
.banner_button a{
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.banner_button: hover{
background: var(--Linear, linear-gradient(180deg, #0e8f1b -0.01%, #13d71e 99.99%));
transition: 0.6s; 
}
.banner_right{

}
.banner_right img {

}

/*start_hrms_info_section*/

.hrms_info_section{
padding: 130px 0px;
    background: #F4FAF5;
}

.custom_container{

}
.hrms_area{
margin: auto;
    text-align: center;
     max-width: 685px;
}
.hrms_area h1{
color: #173050;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}
.hrms_area h3{
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    padding-bottom: 20px;
}
.hrms_button_area{
    padding-top: 20px;
}
.hrms_button{
border-radius: 10px;
    background: var(--Linear, linear-gradient(180deg, #0e8f1b -0.01%, #13d71e 99.99%));
    display: inline-block;
    padding: 15px 40px;
    margin-right: 10px;
}
.hrms_button a{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/*Start_Objective_Section*/
.objectives_section{
    background: #DFEFF0;
    padding: 100px 0px;
    text-align: center;
}
.custom_container{

}
.objectives_Full_area{
    display: flex;
justify-content: space-between;
text-align: center;
}
.objectives_heading{

}
.objective_text_area{
     text-align: center;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;   
}
.objective_text_area h1{
    font-size: 30px;
    color: #173050;
}
.objectives_contant{

}
.objectives_area{
text-align: center;
    max-width: 300px;
    width: 100%;
    padding: 60px 6px;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0px;
}
.objectives_area img{

}
.objectives_area h2{

}















/*Start_shoes_area_section*/
.shoes_area{
background: #F4F4F4;
    padding: 98px 0px;
    display: block;
    overflow: hidden;
}
.custom_container{

}

.shoes_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-right: 25px;
}
.shoes_heading_left{

}
.shoes_heading_left h1{
color: #1F1F1F;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.shoes_heading_right{

}
.shoes_heading_right h4{
color: #FF9D00;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.shoes_contant{
display: flex;
    justify-content: space-around;
    align-items: center;
}
.shoes_single{
text-align: center;
    max-width: 360px;
    margin: auto;
    width: 100%;
    padding: 50px 24px;
    background: #fff;
    border-radius: 20px;
}

.shoes_single h1{
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 22px;
}
.shoes_single p{
color: #4E4E4E;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 0px;
}
.shoes_single h4{
color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 32px;
}


/*tuch_area_section*/
.tuch_area{
    padding: 75px 0px;
    text-align: center;
}
.custom_container{

}

.tuch_full{
      background: #FFF2F1;
    padding: 147px 0px;
    border-radius: 20px;
}
.tuch_heading {

}
.tuch_heading h1{
color: #1F1F1F;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}
.tuch_heading p{
    color: #707070;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}
.tuch_button{
    display: inline-flex;
}

.tuch_button input[type=text]{
    color: #CCC;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #fff;
    border: aliceblue;
    padding-right: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.tuch_button input[type=submit]{
color: #ffffff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 24px;
    background: #FF589B;
    border: #dfdfdf;
}
/*End_tuch_area_section*/






